<!-- https://italia.github.io/design-comuni-pagine-statiche/sito/servizio-dettaglio.html -->
{% extends "layouts/base.html" %}
{% block content %}
<main>
    <!--inzio parte sopra -->
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="cmp-heading pb-3 pb-lg-4">
              <div class="row">
                <div class="col-lg-8">
                  <h1 class="title-xxxlarge" data-element="service-title">Iscrizione alla Scuola dell’infanzia</h1>
            
                  <ul class="d-flex flex-wrap gap-1 my-3">
                    <li>
                      <div class="chip chip-simple text-button" data-element="service-status">
                        <span class="chip-label">Servizio attivo</span>
                      </div>
                    </li>
                  </ul>
            
            
                  <p class="subtitle-small mb-3">Come iscrivere i propri figli alle Scuole dell'infanzia comunali o nelle strutture accreditate.</p>
            
            
                  <button type="button" data-element="service-description" class="btn btn-primary fw-bold">
                  
                  
                  
                   <span class="">Richiesta di iscrizione online</span>
                  </button>
            
                </div>
                <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
                  <div class="dropdown">
                    <button aria-label="condividi sui social" class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0" type="button" id="shareActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-share"></use>
                      </svg>
                      <small>Condividi</small>
                    </button>
                    <div class="dropdown-menu shadow-lg" aria-labelledby="shareActions">
                      <div class="link-list-wrapper">
                        <ul class="link-list" role="menu">
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                              </svg>
                              <span>Facebook</span>
                            </a>
                          </li>
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                              </svg>
                              <span>Twitter</span>
                            </a>
                          </li>
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-linkedin"></use>
                              </svg>
                              <span>Linkedin</span>
                            </a>
                          </li>
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                              </svg>
                              <span>Whatsapp</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button aria-label="vedi azioni da compiere sulla pagina" class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0" type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-more-items"></use>
                      </svg>
                      <small>Vedi azioni</small>
                    </button>
                    <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
                      <div class="link-list-wrapper">
                        <ul class="link-list" role="menu">
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-print"></use>
                              </svg>
                              <span>Stampa</span>
                            </a>
                          </li>
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem" onclick="listenElements(this, '[data-audio]')">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-hearing"></use>
                              </svg>
                              <span>Ascolta</span>
                            </a>
                          </li>
                          <li role="none">
                            <a class="list-item" href="#" role="menuitem">
                              <svg class="icon" aria-hidden="true">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-mail"></use>
                              </svg>
                              <span>Invia</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>      </div>
          <hr class="d-none d-lg-block mt-2">
        </div>
    </div>
    <!-- fine parte sopra-->

    <!-- inizio parte sotto-->
    <div class="container">
        <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
          <div class="col-12 col-lg-3 mb-4 border-col">
            <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
              <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
                <div class="navbar-custom" id="navbarNavProgress">
                  <div class="menu-wrapper">
                    <div class="link-list-wrapper">
                      <div class="accordion">
                        <div class="accordion-item">
                          <span class="accordion-header" id="accordion-title-one">
                            <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                              INDICE DELLA PAGINA
                              <svg class="icon icon-xs right">
                                <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use>
                              </svg>
                            </button>
                          </span>
                          <div class="progress">
                            <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                          </div>
                          <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                            <div class="accordion-body">
                              <ul class="link-list" data-element="page-index">
                                <li class="nav-item">
                                  <a class="nav-link active" href="#who-needs">
                                    <span>A chi è rivolto</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#description">
                                    <span>Descrizione</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#how-to">
                                    <span>Come fare</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#needed">
                                    <span>Cosa serve</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#obtain">
                                    <span>Cosa si ottiene</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#deadlines">
                                    <span>Tempi e scadenze</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#costs">
                                    <span>Quanto costa</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#submit-request">
                                    <span>Accedi al servizio</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#more-info">
                                    <span>Ulteriori informazioni</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#conditions">
                                    <span>Condizioni di servizio</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#contacts">
                                    <span>Contatti</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>      </div>
    
          <div class="col-12 col-lg-8 offset-lg-1">
            <div class="it-page-sections-container">
            <section class="it-page-section mb-30" id="who-needs">
              <h2 class="mb-3">A chi è rivolto</h2>
              <div class="richtext-wrapper lora" data-element="service-addressed">
                <ul>
                  <li><span>Bambini di età compresa tra i 3 e i 5 anni compiuti o da compiere entro il 31 dicembre di ogni anno.</span></li>
                  <li><span>Bambini che compiranno i 3 anni dopo il 31 dicembre e, comunque, entro e non oltre il 30 aprile dell’anno successivo (ammissione anticipata).</span></li>
                </ul>
              </div>
            </section>
    
            <section class="it-page-section mb-30" id="description">
              <h2 class="mb-3">Descrizione</h2>
              <div class="richtext-wrapper lora">
                <p>Le domande di iscrizione devono essere presentate alle scuole nei mesi di
                gennaio/febbraio.
                L'Amministrazione pubblica un avviso con le modalità di accesso e i termini di presentazione della domanda.
                <br>
                <br>
                Le graduatorie ai fini dell'inserimento dei bambini sono curate dal Servizio Istruzione del Comune che le
                approva con determinazione dirigenziale.
                </p>
              </div>
              
            </section>
    
            <section class="it-page-section mb-30" id="how-to">
              <h2 class="mb-3">Come fare</h2>
              <div class="richtext-wrapper lora" data-element="service-how-to">
                <p> Puoi presentare la richiesta di iscrizione esclusivamente online dalle ore
                10:00 del 4 gennaio 2022 alle 20:00
                del 4 febbraio 2022. I posti assegnati vanno accettati entro 15 giorni dalla pubblicazione della
                graduatoria.
                </p>
              </div>
            </section>
    
            <section class="it-page-section mb-30 has-bg-grey p-3" id="needed">
              <h2 class="mb-3">Cosa serve</h2>
              <div class="richtext-wrapper lora" data-element="service-needed">
                <p>Per accedere al servizio, assicurati di avere:</p>
                <ul>
                  <li><span>SPID (Sistema Pubblico per la gestione dell'Identità Digitale), Carta identità
                      elettronica (CIE) o Carta Nazionale dei Servizi (CNS);</span></li>
                  <li><span>la documentazione attestante eventuali disabilità</span></li>
                  <li><span>il permesso di soggiorno del genitore che presenta la richiesta</span></li>
                  <li><span>l’ISEE in corso di validità</span></li>
                </ul>
              </div>
            </section>
    
            <section class="it-page-section mb-30" id="obtain">
              <h2 class="mb-3">Cosa si ottiene</h2>
              <div class="richtext-wrapper lora" data-element="service-achieved">
                <p>Se - in base ai requisiti e alla graduatoria - la richiesta verrà accettata,
                sarà possibile perfezionare l’iscrizione all’asilo.</p>
              </div>
            </section>
    
            <section class="it-page-section mb-30" id="deadlines">
              <div class="cmp-timeline">
                <h2 class="title-xxlarge mb-3">Tempi e scadenze</h2>
                  <div class="richtext-wrapper lora" data-element="service-calendar-text">
                    <p>Le graduatorie verranno aggiornate ogni mese con nuove assegnazioni e trasferimenti in base ai
                        posti disponibili.</p>
                  </div>
                <div class="calendar-vertical mb-3" data-element="service-calendar-list">
                    <div class="calendar-date">
                      <h3 class="calendar-date-day">
                        <small class="calendar-date-day__year">2022</small>
                        <span class="title-xxlarge-regular d-flex justify-content-center">04</span>
                        <small class="calendar-date-day__month">gen</small>
                      </h3>
                      <div class="calendar-date-description rounded">
                        <div class="calendar-date-description-content">
                          <h4 class="h5 mb-0">Apertura iscrizioni</h4>
                        </div>
                      </div>
                    </div>
                    <div class="calendar-date">
                      <h3 class="calendar-date-day">
                        <small class="calendar-date-day__year">2022</small>
                        <span class="title-xxlarge-regular d-flex justify-content-center">04</span>
                        <small class="calendar-date-day__month">feb</small>
                      </h3>
                      <div class="calendar-date-description rounded">
                        <div class="calendar-date-description-content">
                          <h4 class="h5 mb-0">Termine presentazione domande</h4>
                        </div>
                      </div>
                    </div>
                    <div class="calendar-date">
                      <h3 class="calendar-date-day">
                        <small class="calendar-date-day__year">2022</small>
                        <span class="title-xxlarge-regular d-flex justify-content-center">02</span>
                        <small class="calendar-date-day__month">mar</small>
                      </h3>
                      <div class="calendar-date-description rounded">
                        <div class="calendar-date-description-content">
                          <h4 class="h5 mb-0">Pubblicazione graduatorie</h4>
                        </div>
                      </div>
                    </div>
                    <div class="calendar-date">
                      <h3 class="calendar-date-day">
                        <small class="calendar-date-day__year">2022</small>
                        <span class="title-xxlarge-regular d-flex justify-content-center">02</span>
                        <small class="calendar-date-day__month">apr</small>
                      </h3>
                      <div class="calendar-date-description rounded">
                        <div class="calendar-date-description-content">
                          <h4 class="h5 mb-0">Perfezionamento domande</h4>
                        </div>
                      </div>
                    </div>
              
                </div>
              </div>
            </section>
    
            <section class="it-page-section mb-30" id="costs">
              <h2 class="mb-3">Quanto costa</h2>
              <div class="richtext-wrapper lora">
                <p>L’importo della retta si
                basa sul reddito del nucleo famigliare in base al certificato ISEE. Per maggiori informazioni, consulta la
                tabella allegata al bando.</p>
              </div>
              <div class="cmp-icon-link">
                <a class="list-item icon-left d-inline-block" href="#" aria-label="Scarica Tabella rette in base al reddito " title="Scarica Tabella rette in base al reddito " data-element="service-file">
                  <span class="list-item-title-icon-wrapper">
                    <svg class="icon icon-primary icon-sm me-1" aria-hidden="true">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-clip"></use>
                    </svg>
                    <span class="list-item">Tabella rette in base al reddito </span>
                  </span>
                </a>
              </div>
            </section>
    
            <section class="it-page-section mb-30 has-bg-grey p-4" id="submit-request">
              <h2 class="mb-3">Accedi al servizio</h2>
              <p class="text-paragraph lora mb-4" data-element="service-generic-access">Puoi richiedere l’iscrizione alla Scuola dell’infanzia direttamente online
                tramite identità digitale.</p>
              <button type="button" class="btn btn-primary mobile-full" data-element="service-online-access">
                <span>Richiedi iscrizione online</span>
              </button>
              <p class="text-paragraph lora mt-4" data-element="service-generic-access">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.
              </p>
              <button type="button" class="btn btn-outline-primary t-primary bg-white mobile-full" data-element="service-booking-access">
                <span>Prenota appuntamento</span>
              </button>
            </section>
            
            <section class="it-page-section mb-30" id="more-info">
              <h2 class="mb-3">Ulteriori informazioni</h2>
              <h3 class="mb-3 subtitle-medium">Graduatorie di accesso</h3>
              <div class="richtext-wrapper lora">
                <p>I bambini già ammessi alla frequenza nell’anno scolastico in corso sono riammessi di diritto nell’anno scolastico successivo previa richiesta, su appositi moduli trasmessi alle strutture di riferimento.<br> Alle domande viene attribuito un punteggio secondo i criteri stabiliti dall'Amministrazione Comunale. La famiglia può in qualsiasi momento rinunciare al posto, presentando al responsabile del servizio specifica dichiarazione scritta di rinuncia.<br><br>
                Se hai già inviato la richiesta di iscrizione puoi vedere le graduatorie d’accesso nella sezione documenti."</p>
              </div>
            </section>
    
            <section class="it-page-section mb-30" id="conditions">
              <h2 class="mb-3">Condizioni di servizio</h2>
              <p class="text-paragraph lora">Per conoscere i dettagli di
                scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio.</p>
              <div class="cmp-icon-link">
                <a class="list-item icon-left d-inline-block" href="#" aria-label="Scarica Termini e condizioni di servizio (PDF 1MB)" title="Scarica Termini e condizioni di servizio (PDF 1MB)">
                  <span class="list-item-title-icon-wrapper">
                    <svg class="icon icon-primary icon-sm me-1" aria-hidden="true">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-clip"></use>
                    </svg>
                    <span class="list-item">Termini e condizioni di servizio (PDF 1MB)</span>
                  </span>
                </a>
              </div>
            </section>
    
            <section class="it-page-section" id="contacts">
              <h2 class="mb-3">Contatti</h2>
              <div class="row">
                <div class="col-12 col-md-8 col-lg-6 mb-30">
                  <div class="card-wrapper rounded h-auto mt-10">
                    <div class="card card-teaser card-teaser-info rounded shadow-sm p-3">
                      <div class="card-body pe-3">
                        <p class="card-title text-paragraph-regular-medium-semi mb-3">
                          <a class="text-decoration-none" href="#" data-element="service-area">Ufficio Scuola</a>
                        </p>
                        <div class="card-text">
                          <p class="u-main-black">Via Dei Transiti 21, 50302</p>
                          <p class="u-main-black"><a href="tel:+39055052334">(+39) 05 505 2334</a></p>
                          <p class="u-main-black"><a href="mailto:ufficioscuola@email.it">ufficioscuola@email.it</a></p>
                        </div>
                      </div>
                      <div class="avatar size-xl">
                        <img src="https://picsum.photos/200/200" alt="Immagine">
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-12 mb-30">
                  <span class="text-paragraph-small">Argomenti:</span>
                  <ul class="d-flex flex-wrap gap-2 mt-10 mb-3">
                    <li>
                      <a class="chip chip-simple" href="#" data-element="service-topic">
                        <span class="chip-label">Educazione</span>
                      </a>
                    </li>
                    <li>
                      <a class="chip chip-simple" href="#" data-element="service-topic">
                        <span class="chip-label">Famiglia</span>
                      </a>
                    </li>
                    <li>
                      <a class="chip chip-simple" href="#" data-element="service-topic">
                        <span class="chip-label">Scuola materna</span>
                      </a>
                    </li>
                    <li>
                      <a class="chip chip-simple" href="#" data-element="service-topic">
                        <span class="chip-label">Bambini 3 - 5 anni</span>
                      </a>
                    </li>
                  </ul>
                  <p class="text-paragraph-small mb-0">Pagina aggiornata il 14/04/2022</p>
                </div>
            </div></section>
            </div>
          </div>
        </div>
      </div>
    <!-- fine parte sotto-->
</main>
{% endblock %}