<section id="argomenti">
    <div class="container py-5">
        <h2 class="title-xxlarge mb-4">Esplora per argomento</h2>
        <div class="row g-4">
            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element"
                                data-focus-mouse="false">
                                <h3 class="card-title t-primary title-xlarge">Agricoltura</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Animali domestici</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Assistenza sociale</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Associazioni</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Formazione professionale</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Imprese e Professionisti</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Inquinamento</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Istruzione</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Lavoro</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Parcheggi</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Patrimonio culturale</h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
                    <div class="card shadow-sm rounded">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none" data-element="topic-element">
                                <h3 class="card-title t-primary title-xlarge">Trasporto pubblico </h3>
                            </a>
                            <p class="text-secondary mb-0 description">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Quisque vehicula fermentum eros a elementum.
                                Donec.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>